html, body, div, h2, h4, a, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header, nav {
  display: block;
}

body {
  font: 1.2em/1.3 "CB", Helvetica, sans-serif;
  line-height: 1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "CB";
  font-weight: 600;
  src: url("https://www.greg-wolff.com/fonts/CB.otf");
}
@font-face {
  font-family: "CB";
  font-weight: 700;
  src: url("https://www.greg-wolff.com/fonts/CBB.otf");
}
@font-face {
  font-family: "CB";
  font-weight: 500;
  src: url("https://www.greg-wolff.com/fonts/CM.otf");
}

/* Layout and Content Styles */
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  font-size: 1.2em;
}

h2, h4 {
  margin: 0;
  font-family: "CB", Helvetica, sans-serif;
  color: #4D4D4D;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #000;
}

/* Content Section */
.content {
  display: flex;
  align-items: center;
  z-index: 1; /* Ensure content is below navbar */
  position: absolute;
  width: 420px;
  padding-left: 200px;
  height: 100vh;
}

.content h2, .content h4 {
  color: white;
}

.content h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

/* Header and Navigation */
header {
  position: fixed; /* Fix navbar at the top */
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff; /* Set a background color if needed */
  z-index: 1000; /* Ensure navbar is on top of all other elements */
}

/* Navbar Styles */
.navbar {
  display: flex; /* Use flex layout */
  justify-content: space-between; /* Evenly distribute the links */
  position: absolute;
  top: 0;
  left: 5%; /* 5% space from the left */
  right: 5%; /* 5% space from the right */
  width: 90%; /* Navbar width occupies 90% of the window */
  font-size: 15px; /* Font size */
  color: white; /* Text color */
  text-transform: uppercase; /* Transform text to uppercase */
  font-family: Arial, sans-serif; /* Font family */
}

.navbar a {
  margin: 0; /* Remove margin */
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent (white) */
}

nav {
  margin: 50px 0;
}

nav > a:last-child {
  padding-right: 0;
}

/* Content Margin Adjustment to Prevent Overlap */
body {
  margin-top: 60px; /* Adjust this based on the navbar height */
}

/* Responsive Styles */
@media (max-width: 900px) {
  html {
    height: 100%;
  }
  .content {
    width: initial;
    padding: 20px 30px;
    height: calc(100% - 40px);
    align-items: flex-end;
  }
}

@media (max-width: 640px) {
  html, body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  header {
    justify-content: flex-start;
  }

  nav {
    margin: 50px 0 30px;
  }
}