/* 导航栏样式 */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0; /* 调整顶部和底部的间距，减少高度 */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* 导航按钮样式 */
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 5px; /* 减少顶部的间距 */
    transition: color 0.3s ease; /* 文字颜色的过渡效果 */
}

/* 去除原本的背景 */
.navbar a::before {
    content: ''; /* 创建下划线 */
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease; /* 动画从中心向两边展开 */
}

/* 悬停效果 */
.navbar a:hover::before {
    width: 100%;
    left: 0;
}